body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
  background-color: #768696;
  color: #f2c2d4;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.5em;
  color: white;
  background-color: #edb8cc;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #0056b3;
}

/* Media Queries */

/* Tablets and Medium Screens */
@media (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  .button {
    font-size: 1.3em;
    padding: 12px 25px;
  }
}

/* Smartphones and Small Screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  body {
    padding: 10px;
  }

  .button {
    font-size: 1.2em;
    padding: 10px 20px;
  }
}

/* Very Small Devices */
@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  .button {
    font-size: 1em;
    padding: 8px 15px;
  }
}

